html, body{
    margin:0;
    padding:0;
}
h1, p{
    margin:0;
}
a{
    color: inherit;
    text-decoration: none;
}

#main{
    background-image: url(https://nine57.github.io/MyPage-NINE.html/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Lobster', cursive;
}
#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
/* full */
#contents h1{
    color: rgba(160, 252, 255, 0.5);
    font-size: 70px;
    margin-bottom: 500px;
    margin-top: 15px;
}
#contents p{
    color: rgba(0, 0, 49, 0.85);
    font-size: 50px;
}
#top-code {
    color: rgba(250, 121, 121, 0.6);
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
/* 80% */
@media(max-width:1400px){
    #contents h1{
        font-size: 55px;
        margin-bottom: 400px;
        margin-top: 8px;
    }
    #contents p{
        font-size: 30px;
    }
    #top-code {
        font-size: 17px;
        padding-top: 20px;
        padding-left: 20px;
    }
}
/* 65% */
@media(max-width:900px){
    #contents h1{
        font-size: 45px;
        margin-bottom: 300px;
        margin-top: 5px;
    }
    #contents p{
        font-size: 25px;
    }
    #top-code {
        font-size: 15px;
        padding-top: 20px;
        padding-left: 20px;
    }
}
